*{
    margin:0px;
}

.back{
    background-image: url("images/car1.jpg");
    height: 1000px;
    background-size: contain;
  
    background-repeat: repeat;
    animation: slide 2s ease forwards;
    
}

.layer{
    height: 100%;
    background-color: rgba(9, 17, 36, 0.5);
}

.nav{
    display: flex;
    padding-left: 40px;
    padding-top: 10px;
    
    
}
.logo{
    background-image: url(images/logo.jpg);
    height: 70px;
    width: 80px;
    background-size: cover;
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0;
    animation: slide 2s  ease forwards;
}

.name{
    width:22%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
    font-size: 24px;
    font-weight: 700;
    opacity: 0;
    animation: slide 2s  ease forwards;
}

.links{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.links a{
    text-decoration: none;
    margin:0px 10px 0px 30px;
    color: gold;
   
    font-weight: 900;
    border-right: 2px solid rgb(18, 19, 18);
    padding-right: 10px;
    opacity: 0;
    animation: nav 2s  ease forwards;
    animation-delay: calc(.2s * var(--i));

}
.links a i{
    font-size: 20px;
    font-weight: 900;
}

.links a:hover{
    font-size: 21px;
    color: aqua;
    font-weight: 600;
}

.links a i:hover{
     font-size: 30px;
}



.staff {
    padding: 120px 20px;
    padding-top: 60px;
    text-align: center;
}

.staff h2 {
    color: white;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}

.staff-member {
    color: white;
    display: inline-block;
    margin-right: 20px;
    border: 2px solid gold;
    padding: 10px 20px;
}

.staff-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 5px solid #fff;
}

.head{
    color: white;
    border: 2px solid gold;
    width: max-content;
    margin-left: 41%;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.head img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 5px solid #fff;
}

.user{
    background-color: rgb(70, 68, 68);
}
.contact, .feedback {
    color: white;
    background-color: transparent;
    padding: 40px 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.icon{
    display: flex;
    
   
}
.icon a i{
    font-size: larger;
    color: white;
    padding-left: 30px;
    margin-right: 25px;
    margin-top: 20px;
}
.icon a i:hover{
    color: aqua;
}

.contact h2, .feedback h2 {
    font-size: 24px;
    text-align: center;
}

.contact form, .feedback form {
    margin-top: 20px;
}

.contact form label, .feedback form label {
    display: block;
    margin-bottom: 5px;
}

.contact form input, .feedback form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: rgb(218, 217, 215);
    border-radius: 5px;
}

.contact form button, .feedback form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact form button:hover, .feedback form button:hover {
    background-color: lightblue;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p{
    text-align: center;
}


@keyframes slide{
    0% {
        transform: translateX(-60px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes nav{
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
